body{
	background-color: blue;
	color: white;
}

h1{
	font-size:30px;
}

.col-md-2{
<<<<<<< HEAD
	border:4px solid black;
}
=======
	border:2px solid black;
}
>>>>>>> 1ccd7d67092a4175f652d0ca3917a85e594cabe5
